.slider-wrap {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 60px;
}

.my-stadium__title {
    font-size: 20px;
    margin-bottom: 1rem;
}

.my-stadium__item {
    height: 100%;
    padding: 0 10px;
}

.my-stadium__item .card {
    height: 100%;
}

.my-stadium__item .card-title {
    font-size: 18px;
    cursor: pointer;
}

.my-stadium__item .card-text {
    font-size: 15px;
    color: #222
}

.card-text.road {
    color: #666
}

.card-btn-link {
    display: inline-block;
    padding: 4px 8px;
    margin-right: 5px;
    color: #5085BB;
    font-size: 12px;
    border: 1px solid #5085BB;
    border-radius: 16px;
    background-color: transparent;
    cursor: pointer;
}

.card-btn-link.copy {
    color: #666;
    border: 1px solid #666;
}

.stadium-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    padding: 20px;
    border: 1px solid;
}

.stadium-wrap {
    display: flex;
    position: relative;
    overflow: hidden;
}

.stadium__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    flex-shrink: 0;
    width: 250px;
    height: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background-color: #fff;
    transform: translateX(-250px);
    transition: transform .4s;
    z-index: 5;
}

.stadium__left.open {
    transform: translateX(0);
}

.stadium-left-btn {
    position: absolute;
    top: 50%;
    right: -40px;
    width: 40px;
    height: 100px;
    padding: 0 10px;
    font-size: 12px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid #aaa;
    transform: translateY(-50%);
    z-index: 5;
}

.stadium__search {
    border-bottom: 1px solid #e5e5e5;
}

.stadium__search-form {
    display: flex;
    height: 50px;
}

.stadium__search-form .input {
    width: 100%;
    font-size: 15px;
    padding: 0 5px;
}

.stadium__search-form button {
    flex-shrink: 0;
    width: 50px;
    padding: 0;
    border-radius: 0;
}

.stadium__list>ul {
    /* height: 450px; */
    height: 480px;
    overflow-y: scroll;
    padding: 10px;
}

.stadium__list>ul::-webkit-scrollbar {
    width: 10px;
}

.stadium__list>ul::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.stadium__list>ul::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

/* .stadium__list li:not(:last-child) {
    margin-bottom: 10px;
} */
.stadium__list-item {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
    cursor: pointer;
}

.stadium__list-name {
    padding-right: 35px;
    margin-bottom: 4px;
    font-weight: 700;
}

.stadium__list-btn-save {
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 2px 4px;
    font-size: 12px;
    color: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 4px;
    background-color: transparent;
    z-index: 10;
}

.stadium__list-btn-save.act {
    color: #fff;
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
}

.stadium__list-address {
    font-size: 13px;
}

.stadium__right {
    flex-grow: 1;
}

.stadium__map {
    width: 100%;
    min-height: 500px;
    height: 100%;
}

@media screen and (max-width:640px) {
    .stadium-btn-wrap {
        flex-direction: column;
        gap: 10px 0;
    }

    .stadium-btn-wrap button {
        max-width: 200px;
        width: 100%;
    }
}




/* 페이지네이션 */
.pagination-wrap {
    background-color: #f1f1f1;
}

.pagination-wrap .pagination {
    justify-content: center;
}

.pagination-wrap .page-item {
    cursor: pointer;
}


/* 슬릭 */
.my-stadium .slick-prev:before,
.my-stadium .slick-next:before {
    color: #000;
}

.my-stadium .slick-slide {
    max-width: 33.33333333%;
}


/* 카카오맵 */
.wrap {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 288px;
    height: 132px;
    margin-left: -144px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    line-height: 1.5;
}

.wrap * {
    padding: 0;
    margin: 0;
}

.wrap .info {
    width: 280px;
    /* height: 120px; */
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
}

.wrap .info:nth-child(1) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.info .title {
    padding: 5px 20px 5px 10px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-weight: bold;
    text-wrap: wrap;
}

.info .close {
    position: absolute;
    top: 8px;
    right: 16px;
    color: #888;
    width: 16px;
    height: 16px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.info .close:hover {
    cursor: pointer;
}

.info .body {
    position: relative;
    overflow: hidden;
}

.info .desc {
    position: relative;
    padding: 10px;
    font-size: 12px;
}

.desc .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.desc .address {
    text-wrap: wrap;
}

.info .link {
    display: inline-block;
    padding: 4px 8px;
    margin-top: 5px;
    margin-right: 5px;
    color: #5085BB;
    font-size: 12px;
    border: 1px solid #5085BB;
    border-radius: 16px;
}

.info .copy {
    display: inline-block;
    padding: 4px 8px;
    margin-top: 5px;
    color: #666;
    font-size: 12px;
    border: 1px solid #666;
    border-radius: 16px;
    cursor: pointer;
}