.main {
    background-color: #25852B;
}

.main-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    background-color: #25852B;
}

.main-img {
    max-width: 100%
}