.main {}

.main-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 80px; */
    /* background-color: #25852B; */
    /* background-color: #0E104F; */
}

.main-sec:nth-child(2n) {
    background-color: #fafafa;
}

.main-sec.visual {
    padding-top: 80px;
    min-height: 700px;
    height: 900px;
    background: url(./../../imgs/main_img1.png) no-repeat center 40px / cover;
}

@media screen and (min-width:1441px) {
    .main-sec.visual {
        min-height: 900px;
        height: 1050px;
        background: url(./../../imgs/main_img1.png) no-repeat center 60px / cover;
    }
}

@media screen and (max-width:767px) {
    .main-sec.visual {
        min-height: 650px;
        height: auto;
        background: url(./../../imgs/main_img1.png) no-repeat 60% 65px / cover;
    }
}

.main-img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.main-sec__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.main-sec__title {
    display: flex;
    align-items: center;
    gap: 0 5px;
    font-size: 26px;
}

.main-sec__desc {
    font-size: 20px;
}