.header {
    position: fixed;
    width: 100%;
    height: 80px;
    color: #222;
    background-color: #fff;
    border-bottom: 1px solid lightgray;
    z-index: 100;
}

.header.floating {
    background-color: transparent;
}

.header .inner {
    display: flex;
    height: 100%;
}

/* Header Left */
.header-left {
    display: flex;
    align-items: center;
    /* width: 40px; */
    width: 180px;
    height: 100%;
}

/* Header Navbar */
.header-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 2rem;
    flex-grow: 1;

    padding: 0 2rem;
}

/* Header Right */
.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 180px;
    height: 100%;
}

.header-login {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    /* width: 100%; */
    height: 100%;
}
.header-login.logined {
    flex-direction: column;
    justify-content: center;
    gap:3px 0;
}

.header-login__btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5px;
}

.header-login__logined {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px 5px;
}

.header-login__welcome b {
    display: inline-block;
    max-width: 68px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    vertical-align: middle;
    overflow: hidden;
}